<div class="rowQts">
    <div data-aos="fade-up" data-aos-duration="3000" class="colQts">
        <div class="cardQts-container">
            <div class="region region1"></div>
            <div class="region region2"></div>
            <div class="region region3"></div>
            <div class="region region4"></div>
            <div class="region region5"></div>
            <div class="region region6"></div>
            <div class="region region7"></div>
            <div class="region region8"></div>
            <div class="region region9"></div>
            <div class="cardQts">
                <img src="https://images.unsplash.com/photo-1519734461761-b5965072e4b2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTR8fGFzdHJvbm9teXxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                <h1>Astronomy</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quo non dolores minus quam dolore quas architecto commodi odit sapiente nam, unde impedit quod. Autem quas saepe totam labore inventore!</p>
            </div>
        </div>
    </div>
    <div  data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500" class="colQts">
        <div class="cardQts-container">
            <div class="region region1"></div>
            <div class="region region2"></div>
            <div class="region region3"></div>
            <div class="region region4"></div>
            <div class="region region5"></div>
            <div class="region region6"></div>
            <div class="region region7"></div>
            <div class="region region8"></div>
            <div class="region region9"></div>
            <div class="cardQts">
                <img src="https://images.unsplash.com/photo-1507499739999-097706ad8914?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGFzdHJvbm9teXxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                <h1>Astronomy</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quo non dolores minus quam dolore quas architecto commodi odit sapiente nam, unde impedit quod. Autem quas saepe totam labore inventore!</p>
            </div>
        </div>
    </div>
    <div data-aos="fade-up" data-aos-duration="3000" class="colQts">
        <div class="cardQts-container">
            <div class="region region1"></div>
            <div class="region region2"></div>
            <div class="region region3"></div>
            <div class="region region4"></div>
            <div class="region region5"></div>
            <div class="region region6"></div>
            <div class="region region7"></div>
            <div class="region region8"></div>
            <div class="region region9"></div>
            <div class="cardQts">
                <img src="https://images.unsplash.com/photo-1597965607143-cebb8bd52c48?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTN8fGFzdHJvbm9teXxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                <h1>Astronomy</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quo non dolores minus quam dolore quas architecto commodi odit sapiente nam, unde impedit quod. Autem quas saepe totam labore inventore!</p>
            </div>
        </div>
    </div>
    <div  data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500" class="colQts">
        <div class="cardQts-container">
            <div class="region region1"></div>
            <div class="region region2"></div>
            <div class="region region3"></div>
            <div class="region region4"></div>
            <div class="region region5"></div>
            <div class="region region6"></div>
            <div class="region region7"></div>
            <div class="region region8"></div>
            <div class="region region9"></div>
            <div class="cardQts">
                <img src="https://images.unsplash.com/photo-1624623982282-f48b9cf55729?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDh8fGFzdHJvbm9teXxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                <h1>Astronomy</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quo non dolores minus quam dolore quas architecto commodi odit sapiente nam, unde impedit quod. Autem quas saepe totam labore inventore!</p>
            </div>
        </div>
    </div>
    <div data-aos="fade-up" data-aos-duration="3000" class="colQts">
        <div class="cardQts-container">
            <div class="region region1"></div>
            <div class="region region2"></div>
            <div class="region region3"></div>
            <div class="region region4"></div>
            <div class="region region5"></div>
            <div class="region region6"></div>
            <div class="region region7"></div>
            <div class="region region8"></div>
            <div class="region region9"></div>
            <div class="cardQts">
                <img src="https://images.unsplash.com/photo-1597965607143-cebb8bd52c48?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTN8fGFzdHJvbm9teXxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                <h1>Astronomy</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quo non dolores minus quam dolore quas architecto commodi odit sapiente nam, unde impedit quod. Autem quas saepe totam labore inventore!</p>
            </div>
        </div>
    </div>
    <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500" class="colQts">
        <div class="cardQts-container">
            <div class="region region1"></div>
            <div class="region region2"></div>
            <div class="region region3"></div>
            <div class="region region4"></div>
            <div class="region region5"></div>
            <div class="region region6"></div>
            <div class="region region7"></div>
            <div class="region region8"></div>
            <div class="region region9"></div>
            <div class="cardQts">
                <img src="https://images.unsplash.com/photo-1612101983404-ce3b5ddc533f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTg4fHxhc3Ryb25vbXl8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
                <h1>Astronomy</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quo non dolores minus quam dolore quas architecto commodi odit sapiente nam, unde impedit quod. Autem quas saepe totam labore inventore!</p>
            </div>
        </div>
    </div>
</div>